* { 
    font-family: 'Heebo', sans-serif;
   /* color: white;*/
 /* border-style: solid;
    border-width: 1px;*/
}
body {
    background-image: url("images/indonesia/indo3.jpg");
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: white;
    font-size: 48px;
}

#navbar {
    margin-left: 0;
    display: inline-block;
}

#navbar img {
    display: inline-block;
    border-radius: 100%;
}

#navbar img:hover{
background-color: white;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    margin-left: 800px;
    display: inline-block;
 }

#navbar li {
    display: inline-block;
    height: 83px;
    padding-top: 10px;
    padding-right: 60px;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 10px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical;
    color: white;
}

input[type=submit] {
    background-color: #60B1CC;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3C8AA3;
}

.container {
    display: block;
    width: 30%;
    border-radius: 5px;
    padding: 20px;
    float: left;
    margin-left: 80px;
      color: white;
}

.container form {
    display: block;
    color: white;
}

.map iframe {
    display: block;
    float: right;
    margin-top: 40px;
    margin-right: 3px;
}

footer img {
    margin-top: 600px;
    align-items: center;
    padding: 12px;
}

